<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
<div layout:fragment = "site_content">


    <form th:action="@{'/detailed'}" method="get" class="form-inline ml-2 w-100">
        <div>
            <p th:text="#{name}"></p>
            <input class="form-control mr-sm-2" type="search" name="name" th:placeholder="#{name}" aria-label="Search">
        </div>
        <div>
            <p th:text="#{brand}"></p>
            <select class="form-control mr-sm-2" name="brand">
                <option value="0" th:text="#{brands}"></option>
                <option th:each="b : ${brands}" th:text="${b.name}" th:value="${b.id}"></option>
            </select>
        </div>
        <div class="w-50">
            <p th:text="#{price}"></p>
            <input class="form-control mr-sm-2 w-25" type="search" name="from" th:placeholder="#{from}" aria-label="Search">
            <input class="form-control mr-sm-2 w-25" type="search" name="to" th:placeholder="#{to}" aria-label="Search">
        </div>
        <button class="btn btn-outline-success mr-auto mt-auto" th:text="#{search}"></button>
    </form>

    <div class="justify-content-between row my-2">
        <h2 class="ml-4">Search Results: </h2>
        <div class="btn-group btn-group-toggle ml-auto my-2" data-toggle="buttons">
            <form th:action="@{'/options'}" method="post">
                <button class="btn btn-secondary" name="options" value="asc" th:text="#{asc}"></button>
                <button class="btn btn-secondary" name="options" value="desc" th:text="#{desc}"></button>
            </form>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-around">
        <div class="card mb-4" style="width: 32%" th:each="t : ${items}">
            <img th:src="${t.picture}" class="card-img-top mx-auto" style="width: 50%">
            <div class="card-body">
                <a th:href="@{'/details/' + ${t.id}}"><h5 class="card-title text-info" th:text = "${t.name}"></h5></a>
                <p class="card-text font-weight-bold">$[[${t.price}]]</p>
                <p class="card-text" th:text="${t.description}"></p>
            </div>
            <div class="card-footer">
                <p class="card-text" th:text="${t.stars}">/5</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/addItem'}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{addItem}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <p th:text="#{name}"></p>
                            <input type="text" class="form-control" placeholder="Enter Name..." name="name">
                        </div>
                        <div class="form-group">
                            <p th:text="#{description}"></p>
                            <textarea class="form-control" placeholder="Enter Description..." name="description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <p th:text="#{price}"></p>
                            <input type="text" class="form-control" name="price">
                        </div>
                        <div class="form-group">
                            <p th:text="#{stars}"></p>
                            <input type="text" class="form-control" name="stars">
                        </div>
                        <div class="form-group">
                            <p th:text="#{picture}"></p>
                            <input type="text" class="form-control" name="picture">
                        </div>
                        <div class="form-group">
                            <p th:text="#{pictureL}"></p>
                            <input type="text" class="form-control" name="pictureL">
                        </div>
                        <div class="form-group d-flex">
                            <p class="mr-4" th:text="#{top}"></p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="top" id="exampleRadios1" value="true">
                                <label class="form-check-label mr-2" for="exampleRadios1" th:text="#{yes}"></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="top" id="exampleRadios2" value="false">
                                <label class="form-check-label" for="exampleRadios2" th:text="#{no}"></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{close}"></button>
                        <button class="btn btn-info" th:text="#{add}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
</html>