<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/mainAdmin.html">
<div layout:fragment = "site_content">


    <form th:action="@{'/editUser'}" method="post" >
        <h5 th:text="#{editUser}"></h5>
        <input type="hidden" class="form-control" name="id" th:value="${user.id}">
        <div class="form-group">
            <p th:text="#{fullname}"></p>
            <input type="text" class="form-control" th:value="${user.name}" name="name">
        </div>
        <div class="form-group">
            <p>Email: </p>
            <input type="text" class="form-control" th:value="${user.email}" name="email">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="moderator">
                </div>
            </div>
            <p class="my-auto ml-2" th:text="#{moderator}"></p>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="admin">
                </div>
            </div>
            <p class="my-auto ml-2" th:text="#{admin}"></p>
        </div>

        <div class="row">
            <button class="btn btn-danger mr-auto" name="act" value="delete" th:text="#{delete}"></button>
            <button class="btn btn-info ml-auto" name="act" value="edit" th:text="#{edit}"></button>
        </div>
    </form>

    <form th:action="@{'/editPassword'}" method="post" class="mt-5">
        <h5 th:text="#{editPassword}"></h5>
        <input type="hidden" class="form-control" name="id" th:value="${user.id}">
        <div class="form-group">
            <p th:text="#{newPassword}"></p>
            <input type="password" class="form-control" name="new">
        </div>
        <div class="form-group">
            <p th:text="#{reNew}"></p>
            <input type="password" class="form-control" name="reNew">
        </div>

        <button class="btn btn-info ml-auto" name="act" value="edit" th:text="#{edit}"></button>
    </form>

</div>
</html>